.tooltiptext{
    background-color: red;
    color:white;
}
body,h1{
    margin:0;
}
.tooltiptext{
    margin-top:100px;
    border-bottom: 1px dotted black;
    position: relative;
}

.tooltip:hover > div{
    display: block;
    position: absolute;
    left:5vw;
    padding:2vw;
    border-radius: 2vw;
    margin:0;
    text-align: center;
    width:150px;
    top:-100px;
}
